{% load base_extras %}
{% load i18n %}

<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar" id="submenu">
  <a class="navbar-brand mr-0 mr-md-2" 
     href="#" aria-label="Bootstrap">
     {% trans 'Lecture' %}
  </a>

  <div class="navbar-nav-scroll">
  </div>

  <!-- actions -->
  <ul class="navbar-nav ml-md-auto">
    {% if not request.user|has_group:"presidium" %}
      <li class="nav-item">
        <a class="nav-link pl-2 pr-1 mx-1 py-3 my-n2 text-primary" 
          href="{% url 'add_listener' object.pk %}?init=on">
          <i class="fas fa-plus"></i></i> 
          {% trans 'Listeners' %}
        </a>
      </li>

      {% if object.center == request.user.person.center or request.user.is_superuser %}
        <li class="nav-item">
          <a 
            href="#"
            class="nav-link pl-2 pr-1 mx-1 py-3 my-n2 text-warning" 
            onclick="manageData('{% url 'lecture_update' object.pk %}')"
          >
            <i class="fas fa-edit"></i> 
            {% trans 'Edit' %} 
          </a>
        </li>
        {% if object.listeners.count == 0 %}
          <li class="nav-item">
            <a 
              href="#"
              class="nav-link pl-2 pr-1 mx-1 py-3 my-n2 text-danger" 
              onclick="manageData('{% url 'lecture_delete' object.pk %}')"
            >
              <i class="fas fa-trash-alt"></i> 
              {% trans 'Delete' %}
            </a>
          </li>
        {% endif %}
      {% endif %}
    {% endif %}

    <li class="nav-item">
      <a class="nav-link px-1 mx-1 py-3 my-n2 text-info" 
          href="{% url 'lecture_home' %}">
        <i class="fas fa-chevron-left"></i> 
        {% trans 'Back' %}
      </a>
    </li>

  </ul>

</header>