{% load i18n %}

{% load my_tags %}
<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar" id="submenu">
  <a class="navbar-brand mr-0 mr-md-2" 
     href="{% url 'publicwork_home' %}">
     {% trans 'Public Work' %}
  </a>

  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      {% if not request.user|has_group:"publicwork_jr" %}
        <li class="nav-item">
          <a class="nav-link {% if nav == 'sk_home' %}active{% endif %}" 
            href="{% url 'seeker_home' %}?init=on">
            {% trans 'Seekers' %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if nav == 'lc_home' %}active{% endif %}" 
            href="{% url 'lecture_home' %}?init=on">
            {% trans 'Lectures' %}
          </a>
        </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link {% if nav == 'gp_home' %}active{% endif %}" 
          href="{% url 'group_home' %}?init=on">
          {% trans 'Groups' %}
        </a>
      </li>

      {% if not request.user|has_group:"publicwork_jr" %}
        {% include 'publicwork/reports/menu.html' %}   
      {% endif %} 

    </ul>
  </div>

  <!-- actions -->
  <ul class="navbar-nav ml-md-auto">
    {% if not request.user|has_group:"presidium" %}
      {% if nav == "sk_home" %}
        <li class="nav-item">
          <a 
            href="#"
            class="nav-link pl-2 pr-1 mx-1 py-3 my-n2 text-primary" 
            onclick="manageData('{% url 'seeker_create' %}')"
          >
            <i class="fas fa-plus"></i>
            {% trans 'Seeker' %}  
          </a>
        </li>
      {% endif %}
    
      {% if nav == "lc_home" %}
        <li class="nav-item">
          <a 
            href="#"
            class="nav-link pl-2 pr-1 mx-1 py-3 my-n2 text-primary" 
            onclick="manageData('{% url 'lecture_create' %}')"
          >
            <i class="fas fa-plus"></i> 
            {% trans 'Lecture' %}
          </a>
        </li>
      {% endif %}
    
      {% if nav == 'gp_home' and not request.user|has_group:"publicwork_jr" %}
        <li class="nav-item">
          <a 
            href="#"
            class="nav-link pl-2 pr-1 mx-1 py-3 my-n2 text-primary" 
            onclick="manageData('{% url 'group_create' %}')"
          >
            <i class="fas fa-plus"></i> 
            {% trans 'Group' %}
          </a>
        </li>
      {% endif %}
    {% endif %}

    <li class="nav-item">
      <a class="nav-link px-1 mx-1 py-3 my-n2 text-info" 
          href="{% if nav == 'pw_home' %}
                  {% url 'home' %}
                {% else %}
                  {% url 'publicwork_home' %}
                {% endif %}">
        <i class="fas fa-chevron-left"></i> 
        {% trans 'Back' %}
      </a>
    </li>

  </ul>

</header>