# pastas
.vscode/
.idea/
.DS_Store/
.venv/
.pytest_cache/
.ipynb_checkpoints/

# images/
venv/
__pycache__/
# migrations/
jupyter/

# arquivos
*.pyc
*.sqlite3
.env
*.ipynb
.DS_Store

geckodriver.log

# Ignore dynaconf secret files /
.secrets.*
settings.yaml

# Other files and folders
.coverage
pyproject.toml
poetry.toml
poetry.lock
www/center_pics/
www/center_pix_pics/
www/event_qr_codes/
www/profile_pics/
www/seeker_pics/
www/voucher_pics/
www/imports/
www/exports/
www/logs/
www/media/
www/static/
www/tmp/