{% extends "base/base.html" %}

{% load i18n %}

{% load static %}

{% block content %}

  {% include search %}

  <article class="media content-section mb-1">
    <div class="media-body cabecalho-relatorios">
  
      <img src="{% if request.session.color_theme == 'dark' %}{% static 'images/logo-mini-white.png' %}{% else %}{% static 'images/logo-mini-black.png' %}{% endif %}" class="logo-relatorio" alt="...">
  
      <div class="title-cabecalho-relatorio">
        <h2>
          {{ title | upper }}
        </h2>
      </div>
  
      <small class="cabecalho-dados">
        <p>{{ request.user.person.center }}</p>
        <p>{{ request.user }}</p>
        <p>{% now "SHORT_DATETIME_FORMAT" %}</p>
      </small>
  
    </div>
  </article>

  <div class="text-right mb-2">
    <div class="btn-group btn-group-sm mt-1" role="group">
      <a type="button" 
        class="btn btn-light text-success controls-report" 
        data-toggle="modal" data-target="#modal">
        <i class="fas fa-chart-bar"></i> 
        {% trans 'New import' %}
      </a>
      <a type="button" 
        class="btn btn-light text-info controls-report" 
        href="{% url 'home' %}">
        <i class="fas fa-chevron-left "></i> 
        {% trans 'Go back' %}
      </a>
    </div>
  </div>

  {% if entries %}

  <article class="content-section p-4">
    <div class="row mb-2">
      <div class="col-1 font-weight-bold">#</div>
      <div class="col-2 font-weight-bold">Center</div>
      <div class="col-2 font-weight-bold">File</div>
      <div class="col-1 text-right font-weight-bold">Entries</div>
      <div class="col-1 text-right font-weight-bold">Adjusteds</div>
      <div class="col-2 text-right font-weight-bold">Imported by</div>
      <div class="col-2 text-right font-weight-bold">Imported on</div>
      <div class="col-2 text-right font-weight-bold"></div>
    </div>

    {% for entry in entries %}
      <div class="row border-top pt-2">
        <div class="col-1 font-weight-bold">{{ forloop.counter }}</div>
        <div class="col-2">{{ entry.center }}</div>
        <div class="col-2">{{ entry.file }}</div>
        <div class="col-1 text-right font-weight-bold">{{ entry.entries }}</div>
        <div class="col-1 text-right font-weight-bold">{{ entry.adjusteds }}</div>
        <div class="col-2 text-right">{{ entry.imported_by }}</div>
        <div class="col-2 text-right">{{ entry.imported_on|date:"d/m/y H:i:s" }}</div>
        <div class="col-1 text-right">
          <a type="button" href="{% url 'import_fields_to_persons' %}?report={{ entry.report }}" class="btn btn-info btn-sm">
            <i class="fas fa-eye"></i> 
          </a>
        </div>     
      </div>
    {% endfor %}

  </article>

  {% else %}

  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">
      {% trans 'Select a .csv file to import.' %}
    </h4>
  </div>

  {% endif %}

  <!-- show report_data -->
  <div class="modal fade" id="modalReport" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true" onblur="clearUrl()">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-secondary" id="modalLabel">Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="clearUrl()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-secondary" style="height: 70vh; overflow: auto;">
          {% for line in report_data %}
            {% if "*" in line %}
              <p class="text-monospace"><strong>{{ line }}</strong></p>
            {% else %}
              <p class="text-monospace">&nbsp;&nbsp;{{ line }}</p>
            {% endif %}
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="clearUrl()">
            <i class="fas fa-times"></i>
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- show error -->
  <div class="modal fade" id="modalError" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true" onblur="clearUrl()">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-secondary" id="modalLabel">Error</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="clearUrl()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-justify text-monospace">
          {{ error }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="clearUrl()">
            <i class="fas fa-times"></i>
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}

<script>
  $(document).ready(function(){
    var showReport = '{{ show_report }}';
    var error = '{{ error }}';
    var entries = '{{ entries }}'
    if (showReport) {
      $('#modalReport').modal('show');
    }
    if (error) {
      $('#modalError').modal('show');
    }
    if (!entries) {
      $('#modal').modal('show');
    }
  });

  function clearUrl() {
    let url = window.location.href 
    window.location.href = url.split("?")[0]
  }
</script>

{% endblock %}



