{% extends "base/base.html" %}

{% load i18n %}

{% load static %}

{% block content %}

  {% include search %}

  <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar" id="submenu">
    <a class="navbar-brand mr-0 mr-md-2" 
      href="#" aria-label="Bootstrap">
      {% trans 'Import people' %}
    </a>

    <div class="navbar-nav-scroll">
      <ul class="navbar-nav bd-navbar-nav flex-row">
      </ul>
    </div>

    <!-- actions -->
    <ul class="navbar-nav ml-md-auto">
      <li class="nav-item">
        <a 
          href="#"
          class="nav-link pl-2 pr-1 mx-1 py-3 my-n2 text-primary" 
          data-toggle="modal" data-target="#modal"
        >
          <i class="fas fa-chart-bar"></i> 
          {% trans 'New import' %}
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link px-1 mx-1 py-3 my-n2 text-info" href="{% url 'home' %}">
          <i class="fas fa-chevron-left"></i> 
          {% trans 'Back' %}
        </a>
      </li>
      
    </ul>
  </header>

  {% if entries %}

  <article class="content-section p-4">
    <div class="row mb-2">
      <div class="col-1 font-weight-bold">#</div>
      <div class="col-3 font-weight-bold">{% trans 'Center' %}</div>
      <div class="col-3 font-weight-bold">{% trans 'File' %}</div>
      <div class="col-5 text-right font-weight-bold">{% trans 'Imported' %}</div>
    </div>

    {% for entry in entries %}
      <div class="row border-top pt-2">
        <div class="col-1 h4">{{ forloop.counter }}</div>
        <div class="col-3">{{ entry.center }}</div>
        <div class="col-3">{% if not entry.file %}({% trans 'No file - Sign LGPD' %}){% else %}{{ entry.file }}{% endif %}</div>
        <div class="col-5 text-right text-muted small">
          {{ entry.imported_by }} <em>{% trans 'in' %}</em> {{ entry.imported_on|date:"d/m/y H:i:s" }}
        </div>
      </div>
      {% if not entry.file %}
        <div class="row mb-2 text-right text-secondary small">
          <div class="col-4 font-weight-bold">
            {% trans 'People to sign LGPD' %}: &nbsp;&nbsp; 
            <span class="h5 text-light">{{ entry.importeds }}</span>
          </div>
          <div class="col-4 font-weight-bold">
            {% trans 'To send email' %}: &nbsp;&nbsp; 
            <span class="h5 text-light">{{ entry.importeds }}</span>
            {% if entry.importeds %}
            <a href="{% url 'download_csv' entry.center %}?type=se" title="to MailChimp">
              <i class="fas fa-file-download"></i>
            </a>
            {% endif %}
          </div>
          <div class="col-4">
            <a type="button" href="{% url 'import_people' %}?report={{ entry.report }}" class="btn btn-info btn-sm">
              <i class="fas fa-eye"></i> 
              {% trans 'Details' %}
            </a>
          </div>
        </div>
      {% else %}
        <div class="row mb-2 text-right text-secondary small">
          <div class="col-2 font-weight-bold">
            {% trans 'Entries' %}: &nbsp;&nbsp; 
            <span class="h5 text-light">{{ entry.entries }}</span>
          </div>
          <div class="col-2 font-weight-bold">
            {% trans 'Importeds' %}: &nbsp;&nbsp; 
            <span class="h5 text-light">{{ entry.importeds }}</span>
            {% if entry.importeds %}
              <a href="{% url 'download_csv' entry.file %}?type=se" title="to MailChimp">
                <i class="fas fa-file-download"></i>
              </a>
            {% endif %}
          </div>
          <div class="col-2 font-weight-bold">
            {% trans 'Duplicate email' %}: &nbsp;&nbsp;
            <span class="h5 text-light">{{ entry.duplicated_email }}</span>
            {% if entry.duplicated_email %}
              <a href="{% url 'download_csv' entry.file %}?type=de">
                <i class="fas fa-file-download"></i> 
              </a>
            {% endif %}
          </div>
          <div class="col-2 font-weight-bold">
            {% trans 'Without email' %}: &nbsp;&nbsp;
            <span class="h5 text-light">{{ entry.without_email }}</span>
            {% if entry.without_email %}
              <a href="{% url 'download_csv' entry.file %}?type=we">
                <i class="fas fa-file-download"></i> 
              </a>
            {% endif %}
          </div>
          <div class="col-2 font-weight-bold">
            {% trans 'Used email' %}: &nbsp;&nbsp;
            <span class="h5 text-light">{{ entry.used_email }}</span>
            {% if entry.used_email %}
              <a href="{% url 'download_csv' entry.file %}?type=ue">
                <i class="fas fa-file-download"></i> 
              </a>
            {% endif %}
          </div>
          <div class="col-2">
            <a type="button" href="{% url 'import_people' %}?report={{ entry.report }}" class="btn btn-info btn-sm">
              <i class="fas fa-eye"></i> 
              {% trans 'Details' %}
            </a>
          </div>
        {% endif %}
      </div>
    {% endfor %}

  </article>

  {% else %}

  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">
      {% trans 'Select a .csv file to import.' %}
    </h4>
  </div>

  {% endif %}

  <!-- show report_data -->
  <div class="modal fade" id="modalReport" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true" onblur="clearUrl()">
    <div class="modal-dialog modal-lg">
      <div class="modal-content text-dark">
        <div class="modal-header">
          <h5 class="modal-title text-dark" id="modalLabel">{% trans 'Details' %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="clearUrl()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="height: 70vh; overflow: auto;">
          {% for line in report_data %}
            {% if "*" in line %}
              <p class="text-monospace"><strong>{{ line }}</strong></p>
            {% else %}
              <p class="text-monospace">&nbsp;&nbsp;{{ line }}</p>
            {% endif %}
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="clearUrl()">
            <i class="fas fa-times"></i>
            {% trans 'Close' %}
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- show error -->
  <div class="modal fade" id="modalError" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true" onblur="clearUrl()">
    <div class="modal-dialog">
      <div class="modal-content text-dark">
        <div class="modal-header">
          <h5 class="modal-title text-dark" id="modalLabel">{% trans 'Error' %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="clearUrl()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-justify text-monospace">
          {{ error }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="clearUrl()">
            <i class="fas fa-times"></i>
            {% trans 'Close' %}
          </button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}

<script>
  $(document).ready(function(){
    var showReport = '{{ show_report }}';
    var error = '{{ error }}';
    var entries = '{{ entries }}'
    if (showReport) {
      $('#modalReport').modal('show');
    }
    if (error) {
      $('#modalError').modal('show');
    }
    if (!entries) {
      $('#modal').modal('show');
    }
  });

  function clearUrl() {
    let url = window.location.href 
    window.location.href = url.split("?")[0]
  }
</script>

{% endblock %}



