{% load base_extras %}
{% load i18n %}
<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar" id="submenu">
  <a class="navbar-brand mr-0 mr-md-2" 
     href="#" aria-label="Bootstrap">
     {% trans 'Banks and Flags' %}
  </a>

  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
    </ul>
  </div>

  <!-- actions -->
  <ul class="navbar-nav ml-md-auto">
    <li class="nav-item">
      <a type="button" 
        class="nav-link pl-2 pr-1 mx-1 py-3 my-n2 text-primary" 
        href="{% url 'bankflag_create' %}">
        <i class="fas fa-plus"></i> 
        {% trans 'Add' %}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link px-1 mx-1 py-3 my-n2 text-info" 
        href="{% url 'home' %}">
        <i class="fas fa-chevron-left"></i> 
        {% trans 'Back' %}
      </a>
    </li>
  </ul>

</header>