/* Bootstrap class changes */
.head-jady {
  display: flex;
  justify-content: center;
  padding: 5% 0;
  width: auto;
  height: auto;
}

.logo-rca {
  width: 15%;
}

.modal-header {
  padding: 1.5rem;
}

.modal-body {
  padding: 1.5rem;
}

.alert-jady {
  position: relative;
  padding: 0.75rem 1.25rem;
}

.box-jady {
  border: 1px solid #806f4a;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.alert-primary-jady {
  color: #fff;
  background-color: #806f4a;
  border-color: #806f4a;
}

.alert-secondary-jady {
  color: #383d41;
  background-color: #999999;
  border-color: #999999;
}

.btn-primary {
  color: #fff;
  background-color: #806f4a;
  border-color: #806f4a;
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #806f4a;
  border-color: #806f4a;
}

.btn-info {
  color: #fff;
  background-color: #5f788a;
  border-color: #5f788a;
}

@media only screen and (max-width: 768px) {
  .logo-rca {
    width: 25%;
  }
}