{% load my_tags %}
{% load i18n %}

{% if clear_search %}
  {% include "base/searchs/center.html" %}
{% endif %}

{% include "base/elements/results.html" %}

{% if object_list %}

  {% for obj in object_list %}
    {% if forloop.last and forloop.counter == LIMIT %}
      <div 
        class="row border-top border-secondary pb-2 pt-2 is-link {% if not obj.is_active %}text-danger{% endif %}"
        {% if obj.click_link %}
          {% if request.user.is_superuser or request.user|has_group:"office" or request.user|has_group:"presidium" %}
            onclick="location.href='{{ obj.click_link }}';"
          {% endif %}
        {% endif %}
        hx-get="{% url 'center_list' %}?page={{ page|add:1 }}" 
        hx-trigger="revealed" 
        hx-swap="afterend"
        hx-target="this"
      >
    {% else %}
      <div 
        class="row border-top border-secondary pb-2 pt-2 is-link {% if not obj.is_active %}text-danger{% endif %}"
        {% if obj.click_link %}
          {% if request.user.is_superuser or request.user|has_group:"office" or request.user|has_group:"presidium" %}
            onclick="location.href='{{ obj.click_link }}';"
          {% endif %}
        {% endif %}
      >
    {% endif %}

    {% include "center/elements/center_list_item.html" %}

    </div>
  {% endfor %}

{% else %}

  {% if page == 1 %}
    <div class="alert alert-secondary">
      <h4 class="alert-heading">
        {% trans 'centers not found' %}
      </h4> 
    </div> 
  {% endif %}
  
{% endif %}