{% extends "base/base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block content %}
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">{% trans 'Atention' %}!</h4>
  <p>{% trans 'Are you shure you want to remove:' %} <br>
    <strong>{{ member }}</strong> from
    <strong>{{ group }}</strong>
  </p>
  <hr>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group text-right">
      <button class="btn btn-danger" type="submit">
        <i class="fas fa-check"></i>
        {% trans 'Confirm' %}
      </button>
      <a class="btn btn-info" href="javascript:history.back()">
        <i class="fas fa-chevron-left"></i>
        {% trans 'Go back' %}
      </a>
    </div>
  </form>
</div>
{% endblock %}