{% load base_extras %}
{% load i18n %}
<div class="article-metadata">
  <div class="row">
    <div class="col-10">
      {{ object.center }}
      {% if object.center != request.user.person.center %}
      &nbsp;&nbsp;&nbsp;
      <span class="badge badge-pill badge-danger">{% trans 'another center - only view' %}</span>
      {% endif %}
    </div>
    <div class="col-2 text-right">
      {% if not object.is_active %}
      <span class="badge badge-pill badge-danger">{% trans 'inactive' %}</span>
      {% endif %}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-10">
    <h4>
      {{ object.name }}
    </h4>
  </div>
  <div class="col text-right">
    {% if active_members %}
      <strong>{{ active_members }}</strong> 
      <i class="fas fa-users"></i>  
    {% endif %}
  </div>
</div>

{% if object.mentors.count > 0 %}
  <div class="row">
    {% for mentor in object.mentors.all %}
      <div class="col-md-3">
        <i class="fas fa-user-graduate mr-1"></i> 
        {{ mentor.short_name }} 
        {% if nav == 'info' %}
          {% if not request.user|has_group:"publicwork_jr" and not request.user|has_group:"presidium" %}
            <a 
              href="#"
              class="btn btn-light text-danger btn-sm ml-1" 
              onclick="manageData('{% url 'group_remove_mentor' object.pk mentor.pk %}')"
            >
              <i class="fas fa-trash-alt"></i>
            </a>
          {% endif %}
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endif %}

{% if object.description %}
  <p><small class="text-muted">{{ object.description }}</small></p>
{% endif %}