{% load static %}
{% load base_extras %}
{% load i18n %}

<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
      <a class="navbar-brand mr-4" href="{% url 'home' %}">
        {% if APP_NAME == 'training' %}
          <img src="{% static 'images/logo-white-training.png' %}" class="logo-img" alt="...">
        {% else %}
          <img src="{% static 'images/logo-white.png' %}" class="logo-img" alt="...">
        {% endif %}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar"
          aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mainNavbar">
        <div class="navbar-nav mr-auto">
            {% if request.user.groups.all|length > 1 or request.user.is_superuser %}
            {% include "base/elements/menu.html"%}
            {% endif %}
        </div>
        <!-- Navbar Right Side -->
        <div class="navbar-nav">
          {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a 
                id="profile" 
                class="nav-link dropdown-toggle" 
                href="#" 
                role="button" 
                data-toggle="dropdown" 
                aria-haspopup="true" 
                aria-expanded="false"
              >
                <i class="fas fa-user"></i> 
                <span 
                  data-toggle="tooltip" 
                  data-placement="bottom" 
                  title="{{ request.user.profile.social_name }}"
                >
                  {{ request.user.profile.social_name|truncatechars:10 }}
                </span>
              </a>
              <div class="dropdown-menu" aria-labelledby="profile">
                <a class="dropdown-item" href="{% url 'profile_detail' %}">
                  <i class="fas fa-id-card"></i>
                  {% trans 'Profile' %}
                </a>
                <a class="dropdown-item" href="{% url 'logout' %}">
                  <i class="fas fa-sign-out-alt"></i>
                  {% trans 'Logout' %}
                </a>
                <button type="button" 
                    class="btn_color" 
                    onclick="changeColor()"
                    data-toggle="tooltip" 
                    data-placement="right" 
                    title="{% if request.session.color_theme == 'dark' %}light{% else %}dark{% endif %}">
                    {% if request.session.color_theme == 'dark' %}
                    <i class="fas fa-sun"></i> Light
                    {% else %}
                    <i class="fas fa-moon"></i> Dark
                    {% endif %}
                </button>
                <!-- <div class="dropdown-divider"></div> -->
                {% include "base/elements/languages.html"%}
              </div>
            </li>
          {% else %}
            <a class="nav-item nav-link" href="{% url 'login' %}">{% trans 'Login' %}</a>
          {% endif %}
          
          
        </div>
      </div>
    </div>
  </nav>
</header>

<style>
  /* Classes for the button to look like links, in Navbar Right Side. */

.btn_color:focus, .btn_color:hover {
    text-decoration: none;
    color: #16181b;
    background-color: #f8f9fa;
}

button:focus {
    outline: none;
    outline: none;
}

.btn_color {
    width: 100%;
    text-align: left;
    border: 1px solid transparent;
    padding: .25rem 1.5rem;
    background-color: transparent;
}
</style>