{% extends "base/base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block content %}
<div class="alert alert-secondary" role="alert">
  <h4 class="alert-heading">{% trans 'Atention' %}!</h4>
  <p>{% trans 'Are you shure you want to import' %}: <br>
    <strong>{{ object.name }}</strong>
    &nbsp;&nbsp;
    <small class="text-muted">
      <em>{{ object.city }} ({{ object.state }}-{{ object.country }})</em>
    </small> 
    <br>
    {% trans 'as a' %} <strong>{% trans 'Pupil' %}</strong>?
  </p>
  <hr>
  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
      <button class="btn btn-outline-success" type="submit">{% trans 'Confirm' %}</button>
      <a class="btn btn-outline-info" href="javascript:history.back()">{% trans 'Go back' %}</a>
    </div>
  </form>
</div>
{% endblock %}