{% extends "base/base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block content %}
<div class="alert alert-secondary" role="alert">
  <h4 class="alert-heading">{% trans 'Atention' %}!</h4>
  <p>{% trans 'Are you shure you want to reinsert' %}: <br>
    <strong>{{ object }}</strong>
  </p>
  <hr>
  <form method="POST">
    {% csrf_token %}
    <div class="form-group text-right">
      <button class="btn btn-success" type="submit">
        <i class="fas fa-check"></i>
        {% trans 'Confirm' %}
      </button>
      <a class="btn btn-info" href="javascript:history.back()">
        <i class="fas fa-chevron-left"></i>
        {% trans 'Back' %}
      </a>
    </div>
  </form>
</div>
{% endblock %}