{% load base_extras %}
{% load i18n %}

<div class="col-sm-2">
  <small class="text-muted align-top">{{ forloop.counter|add:counter }}</small>
  &nbsp;&nbsp;
  <strong>{{ obj.event.date|date:"d/m/y" }}</strong>
</div>

<div class="col-sm-8">
  <strong>{{ obj.event.activity }}</strong>
  <small>
    &nbsp;&nbsp;&nbsp;
    {{ obj.event.center }}
    &nbsp;&nbsp;&nbsp;
    <em>({{ obj.get_aspect_display }})</em>
  </small>
</div>

{% if not request.user|has_group:"presidium" %}
  <div class="col-sm-2 text-right">
    <button 
      type="button" 
      onclick="manageData('{{ obj.del_link }}')"
      class="btn btn-light text-danger btn-sm"
    >
      <i class="fas fa-trash-alt"></i>
    </button>
  </div>
{% endif %}