{% load i18n %}
<div id="header" hx-swap-oob="true">
  <div class="article-metadata">
    <div class="row">
      <div class="col-9">
        {{ object.center }}
        {% if object.aspect != "--" %}
          &nbsp;&nbsp;&nbsp;&nbsp;
          {{ object.get_aspect_display }}
          <small class="text-secondary">
            &nbsp;&nbsp;{% trans 'in' %}&nbsp;&nbsp;
            {{ object.aspect_date|date:"d/m/Y" }}
          </small>
        {% endif %}
        {% if object.center != request.user.person.center %}
          &nbsp;&nbsp;&nbsp;
          <span class="badge badge-pill badge-warning">{% trans 'only view' %}</span>
        {% endif %}
      </div>

      <div class="col text-right">
        {% if object.status not in "ACT,---,OTH" %}
          <strong class="{% if object.status == 'LIC' %}
                           text-success
                         {% elif object.status == 'DIS' %}
                           text-warning
                         {% elif object.status == 'REM' %}
                           text-danger
                         {% elif object.status == 'DEA' %}
                           text-secondary
                         {% endif %}">
            {{ object.get_status_display }}
          </strong>
        {% endif %}
      </div>

    </div>
  </div>

  <h3>
    {{ object.name }} &nbsp;&nbsp;
    <small class="text-muted"><em>{{ object.user.profile.social_name }}</em></small>
  </h3>
  
</div>