{% load base_extras %}
{% load i18n %}
<div class="col-sm-4">
  <small class="text-muted align-top">{{ forloop.counter|add:counter }}</small>
  &nbsp;&nbsp;
  <strong>{{ obj.workgroup.name }}</strong>
  
  <small>
    &nbsp;&nbsp;&nbsp;
    <em>{{ obj.workgroup.get_workgroup_type_display }}</em>
  </small>
</div>

<div class="col-sm-2">
  {% if obj.workgroup.workgroup_type == 'ASP' %}
    {{ obj.workgroup.get_aspect_display }}
  {% endif %}
</div>

<div class="col-sm-1">
  <strong>{{ obj.get_role_type_display }}</strong>
</div>

<div class="col-sm-3 small align-middle">
  {% if obj.observations %}
    {{ obj.observations|truncatechars:40 }}
  {% endif %}
</div>

{% if not request.user|has_group:"presidium" %}
  <div class="col-sm text-right">
    {% if obj.update_link %}
      <button 
        type="button" 
        onclick="manageData('{{ obj.update_link }}?pos={{ forloop.counter|add:counter }}')"
        class="btn btn-light text-warning btn-sm"
      >
        <i class="fas fa-edit"></i>
      </button>
    {% endif %}
    {% if obj.del_link %}
      <button
        type="button" 
        onclick="manageData('{{ obj.del_link }}')"
        class="btn btn-light text-danger btn-sm"
      >
        <i class="fas fa-trash-alt"></i>
      </button>
    {% endif %}
  </div>
{% endif %}