{% load i18n %}
<div class="col-sm-4 ">
  <small class="text-muted align-top">{{ forloop.counter|add:counter }}</small>
  &nbsp;&nbsp;
  <strong data-toggle="tooltip" data-placement="top" title="{{ obj.name }}">
    {{ obj.name | truncatechars:25 }}
  </strong>
  <small class="float-right">
    <em>{{ obj.get_aspect_display }}</em>
  </small>
</div>

<div class="col-sm-7 small">    
  <i class="fa-solid fa-location-dot"></i> <em>{{ obj.local }}</em> 
  {% if obj.user.profile.phone %}
    &nbsp;&nbsp;&nbsp;
    <i class="fas fa-phone"></i> 
    {{ obj.user.profile.phone }}
  {% endif %}
  {% if obj.user.email %}
    &nbsp;&nbsp;&nbsp;
    <i class="fas fa-envelope"></i> 
    {{ obj.user.email }}
  {% endif %}
</div>

<div class="col-sm-1 text-right">
  {% if flag == "group" and obj.publicworkgroup_set.count %}
    <i class="fas fa-user-check mr-1"></i>
  {% elif flag == "membership" and object in obj.workgroup_set.all %}
    <i class="fas fa-user-check mr-1"></i>
  {% elif flag == "person" %}
    <strong>
      {% if obj.status not in 'ACT,---' %}{{ obj.get_status_display }}{% endif %}
    </strong>
  {% elif obj.is_active %}
    <a 
      type="button"
      href="#"
      class="btn btn-light text-primary btn-sm" 
      onclick="manageData('{{ obj.add_link }}')"
    >
      <i class="fas fa-plus"></i> 
    </a>
  {% endif %}
</div>