{% load my_tags %}
{% load i18n %}

{% if updated %}
  {% include "person/elements/header.html" %}
{% endif %}

<br>
<div class="row border-top border-secondary pt-2 pb-2">
  <div class="col-sm-3"><strong>{% trans 'type' %}</strong></div>
  <div class="col-sm-9">{{ object.get_person_type_display }}</div>
</div>
<div class="row border-top border-secondary pt-2 pb-2">
  <div class="col-sm-3"><strong>{% trans 'birth' %}</strong></div>
  <div class="col-sm-9">
    {{ object.birth|date:"d/m/Y" }}
      &nbsp;&nbsp; 
      <small class="text-secondary">
        {{ object.birth|age }} {% trans 'years' %}
      </small>
  </div>
</div>
<div class="row border-top border-secondary pt-2 pb-2">
  <div class="col-sm-3"><strong>{% trans 'id card' %}</strong></div>
  <div class="col-sm-9">{{ object.id_card }}</div>
</div>
<div class="row border-top border-secondary pt-2 pb-2">
  <div class="col-sm-3"><strong>{% trans 'aspect' %}</strong></div>
  <div class="col-sm-9">
    {% if object.aspect != "--" %}
      {{ object.get_aspect_display }} 
      <small class="text-secondary">
        &nbsp;&nbsp;{% trans 'in' %}&nbsp;&nbsp;
        {{ object.aspect_date|date:"d/m/Y" }}
      </small>
    {% endif %}
  </div>
</div>
<div class="row border-top border-secondary pt-2 pb-2">
  <div class="col-sm-3"><strong>{% trans 'status' %}</strong></div>
  <div class="col-sm-9">
    {% if object.status in "---ACT" %}
      {% trans 'active' %}
    {% else %}
      {{ object.get_status_display }}
    {% endif %}
  </div>
</div>

<div class="row border-top border-secondary pt-2 pb-2">
  <div class="col-sm-3"><strong>{% trans 'observations' %}</strong></div>
  <div class="col-sm-9">
    <textarea class="form-control" rows="3" disabled>{{ object.observations }}</textarea>
  </div>
</div>
<div class="text-right">
  {% if not request.user|has_group:"presidium" %}
    <a 
      href="#"
      class="btn btn-sm btn-outline-warning mb-4" 
      onclick="manageData('{% url 'update_pupil' object.id %}')"
    >
      <i class="fas fa-edit"></i> 
      {% trans 'Edit' %}
    </a>
  {% endif %}
</div>