{% load my_tags %}
{% load static %}
{% load i18n %}

{% if object.user.profile.image %}
  <img 
    class="rounded-circle photo-cover mx-auto d-block mb-2" 
    src="{{ object.user.profile.image.url }}"
  >
{% else %}
  <img
    class="rounded-circle photo-cover mx-auto d-block mb-2" 
    src="{% static 'img/default_profile.jpg' %}"
  >
{% endif %}
{% if not request.user|has_group:"presidium" %}
  <div class="text-right photo-edit-button">
    <a 
      href="#"
      class="btn btn-sm btn-outline-warning mb-4" 
      onclick="manageData('{% url 'update_image' object.id %}')"
    >
      <i class="fas fa-edit"></i> 
    </a>
  </div>
{% endif %}