{% load my_tags %}
{% load i18n %}

{% if updated %}
  {% include "person/elements/header.html" %}
{% endif %}

<br>
<div class="row border-top border-secondary pt-2 pb-2">
  <div class="col-sm-3"><strong>{% trans 'gender' %}</strong></div>
  <div class="col-sm-9">{{ object.user.profile.get_gender_display }}</div>
</div>
<div class="row border-top border-secondary pt-2 pb-2">
  <div class="col-sm-3"><strong>{% trans 'phone' %}</strong></div>
  <div class="col-sm-9">{{ object.user.profile.phone }}</div>
</div>
<div class="row border-top border-secondary pt-2 pb-2">
  <div class="col-sm-3"><strong>{% trans 'email' %}</strong></div>
  <div class="col-sm-9">{{ object.user.email }}</div>
</div>
<div class="row border-top border-secondary pt-2 pb-2 text-warning">
  <div class="col-sm-3"><strong>{% trans 'sos contact' %}</strong></div>
  <div class="col-sm-9">
    {{ object.user.profile.sos_phone }}&nbsp;&nbsp;&nbsp;
    ({{ object.user.profile.sos_contact }})
  </div>
</div>
<div class="row border-top border-secondary pt-2 pb-2">
  <div class="col-sm-3"><strong>{% trans 'address' %}</strong></div>
  <div class="col-sm-9">
    {% include 'person/elements/address.html' %}
  </div>
</div>
<div class="text-right">
  {% if not request.user|has_group:"presidium" %}
    <a 
      href="#"
      class="btn btn-sm btn-outline-warning mb-4" 
      onclick="manageData('{% url 'update_profile' object.id %}')"
    >
      <i class="fas fa-edit"></i> 
      {% trans 'Edit' %}
    </a>
  {% endif %}
</div>