{% for obj in object_list %}
  {% if forloop.last and forloop.counter == LIMIT %}
    <div 
      id="FRQ{{ obj.pk }}"
      class="row border-top border-secondary mt-2 pt-2"
      hx-get="{% url 'seeker_frequencies' object.pk %}?page={{ page|add:1 }}" 
      hx-trigger="revealed" 
      hx-swap="afterend"
      hx-target="this"
    >
  {% else %}
    <div 
      id="FRQ{{ obj.pk }}"  
      class="row border-top border-secondary mt-2 pt-2"
    >
  {% endif %}

    {% include "publicwork/seeker/elements/frequency_list_item.html" %}
    
  </div>
{% endfor %}