{% for obj in object_list %}
  {% if forloop.last and forloop.counter == LIMIT %}
    <div 
      hx-get="{% url 'group_add_mentor' object.id %}?page={{ page|add:1 }}" 
      hx-trigger="revealed" 
      hx-swap="afterend"
      hx-target="this"
      class="row border-top border-secondary pb-2 pt-2 {% if not obj.is_active %}
                                                        text-danger
                                                      {% elif obj.center != request.user.person.center %}
                                                        text-secondary
                                                      {% endif %}"
    >
  {% else %}
    <div 
      class="row border-top border-secondary pb-2 pt-2 {% if not obj.is_active %}
                                                        text-danger
                                                      {% elif obj.center != request.user.person.center %}
                                                        text-secondary
                                                      {% endif %}"
    >
  {% endif %}

  {% include "person/elements/person_list_item.html" %}

  </div>
{% endfor %}