{% load i18n %}
<div class="col-sm-2">
  <small class="text-muted align-top">{{ forloop.counter|add:counter }}</small>
  &nbsp;&nbsp;
  <strong>{{ obj.date|date:'d/m/y' }}</strong>
</div>

<div class="col-sm-7">
  <strong>
    {{ obj.theme }}
  </strong>
  &nbsp;&nbsp;
  <small>
    <em>{{ obj.center }}</em>
    {% if obj.center != request.user.person.center %}
      &nbsp;&nbsp;&nbsp;
      <span class="badge badge-pill badge-{% if not obj.is_active %}danger{% else %}warning{% endif %}">
        {% trans 'only view' %}
      </span>
    {% endif %}
    {% if not obj.is_active %}
      &nbsp;&nbsp;&nbsp;
      <span class="badge-pill badge-danger">{% trans 'inactive' %}</span>
    {% endif %}
  </small>
</div>

<div class="col-sm-1 text-right">
  {{ obj.get_type_display }}
</div>

<div class="col-sm-2 text-right">
  {% if obj.add_link %}
    {% if obj.pk in pre_freqs %}
      <i class="fas fa-user-check mr-1"></i>
    {% else %}
      <a 
        href="#"
        class="btn btn-light text-primary btn-sm" 
        onclick="manageData('{{ obj.add_link}}?lect_pk={{ obj.pk }}')"
      >
        <i class="fas fa-plus"></i> 
      </a>
    {% endif %}
  {% elif obj.add_freqs_link %}
    <a type="button" 
      href="{{ obj.add_freqs_link }}"
      class="btn btn-light text-primary btn-sm">
      <i class="fa-solid fa-arrow-right-to-bracket"></i>
    </a>
  {% else %}
    {% if obj.listeners.all|length > 0 %}
      <strong>{{ obj.listeners.all|length }}</strong> 
      <i class="fas fa-users"></i>
    {% endif %}
  {% endif %}
</div>    