{% for obj in object_list %}
  {% if forloop.last and forloop.counter == LIMIT %}
    <div 
      class="row border-top border-secondary pb-2 pt-2 {% if not obj.is_active %}
                                                         text-danger
                                                       {% elif obj.center != request.user.person.center %}
                                                         text-warning
                                                       {% endif %}"
      hx-get="{% url 'membership_add_frequency' group_pk object.pk %}?page={{ page|add:1 }}" 
      hx-trigger="revealed" 
      hx-swap="afterend"
      hx-target="this"
    >
  {% else %}
    <div 
      class="row border-top border-secondary pb-2 pt-2 {% if not obj.is_active %}
                                                         text-danger
                                                       {% elif obj.center != request.user.person.center %}
                                                         text-warning
                                                       {% endif %}"
    >
  {% endif %}

  {% include "event/elements/event_list_item.html" %}

  </div>
{% endfor %}