{% load base_extras %}
{% load i18n %}
<div class="col-sm-5">
  <small class="text-muted align-top">{{ forloop.counter|add:counter }}</small>
  &nbsp;&nbsp;
  <strong>{{ obj.person.name | truncatechars:25 }}</strong>
  &nbsp;&nbsp;
  <small class="float-right">{{ obj.person.center }}</small>
</div>

<div class="col-sm-3 align-middle">
  {{ obj.person.get_aspect_display }}
  &nbsp;&nbsp;
  <small>{% trans 'since' %}: <strong>{{ obj.person.aspect_date|date:"d/m/y" }}</strong></small>
</div>

<div class="col-sm-2 align-middle">
  <strong>{{ obj.get_role_type_display }}</strong>
</div>

<div class="col-sm text-right">
  {% if obj.person.center == request.user.person.center and not request.user|has_group:"presidium" %}
    {% if obj.update_link %}
      <button 
        type="button" 
        onclick="manageData('{{ obj.update_link }}?pos={{ forloop.counter|add:counter }}')"
        class="btn btn-light text-warning btn-sm"
      >
        <i class="fas fa-edit"></i>
      </button>
    {% endif %}
    {% if obj.del_link %}
      <button 
        type="button" 
        onclick="manageData('{{ obj.del_link }}')"
        class="btn btn-light text-danger btn-sm"
      >
        <i class="fas fa-trash-alt"></i>
      </button>
    {% endif %}
  {% endif %}
</div>