{% load i18n %}


{% if object_list %}

  <div class="row">
    <div class="col-sm-8">
      <h4>{% trans 'Frequencies' %}</h4>
    </div>
    <div class="col-sm-4 small text-right">
      <p class="mt-2"><strong>{{ count }}</strong> {% trans 'records in the database' %}</p>
    </div>
  </div>
  {% include "workgroup/mentoring/elements/frequency_list.html" %}

{% else %}

  <div class="alert alert-secondary">
    <h4 class="alert-heading">
      {% if init %}
        {% trans 'choose your search terms' %}
      {% else %}
        {% trans 'members not found' %}
      {% endif %}
    </h4> 
  </div> 

{% endif %}