{% for obj in object_list %}
  {% if forloop.last and forloop.counter == LIMIT %}
    <div 
      id="EVT{{ obj.pk }}"
      class="row border-top border-secondary pb-2 pt-2 is-link {% if not obj.is_active %}
                                                                 text-danger
                                                               {% elif obj.center != request.user.person.center %}
                                                                 text-warning
                                                               {% endif %}"
      {% if obj.click_link %}
        {% if obj.center == request.user.person.center or request.user.is_superuser %}
          onclick="location.href='{{ obj.click_link }}';"
        {% endif %}
      {% endif %}
      hx-get="{% url 'event_home' %}?page={{ page|add:1 }}" 
      hx-trigger="revealed" 
      hx-swap="afterend"
      hx-target="this"
    >
  {% else %}
    <div 
      id="EVT{{ obj.pk }}"
      class="row border-top border-secondary pb-2 pt-2 is-link {% if not obj.is_active %}
                                                                 text-danger
                                                               {% elif obj.center != request.user.person.center %}
                                                                 text-warning
                                                               {% endif %}"
      {% if obj.click_link %}
        {% if obj.center == request.user.person.center or request.user.is_superuser %}
          onclick="location.href='{{ obj.click_link }}';"
        {% endif %}
      {% endif %}
    >
  {% endif %}

  {% include "event/elements/event_list_item.html" %}

  </div>
{% endfor %}