{% load base_extras %}
{% load i18n %}

<div class="col-sm-10">
  <small class="text-muted align-top">{{ forloop.counter|add:counter }}</small>
  &nbsp;&nbsp;
  <strong>{{ obj.person.name }}</strong>
  <small>
    &nbsp;&nbsp;&nbsp;
    <em>{{ obj.get_aspect_display }}</em>
    &nbsp;&nbsp;&nbsp;
    {{ obj.person.center }}
  </small>
</div>

<div class="col-sm-2 text-right">
  {% if not request.user|has_group:"presidium"%}
    <button 
      type="button" 
      onclick="manageData('{{ obj.del_link }}')"
      class="btn btn-light text-danger btn-sm"
    >
      <i class="fas fa-trash-alt"></i>
    </button>
  {% endif %}
</div>