{% extends "base/base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block content %}

<div class="text-right mb-2 mt-4">
  <button 
    class="btn btn-primary mt-2"
    onclick="document.getElementById('form').submit();">
    <i class="fas fa-plus"></i> <i class="fas fa-users"></i>
    {% trans 'Insert' %}
  </button>
  <a class="btn btn-light text-info mt-2 mr-3"
    href="{% url 'event_detail' object.pk %}">
    <i class="fas fa-chevron-left"></i> 
    {% trans 'Back' %}
  </a>
</div>

<article class="media content-section">
  <div class="media-body">
    <h4>{% trans 'Insert Frequencies' %}</h4>

    <form method="POST" id="form">
      {% csrf_token %}
      {{ form|crispy }}
    </form>
    <div class="alert alert-secondary">
      <h5 class="border-bottom font-title">{% trans 'Important' %}!</h5>
      <small>
        {% trans 'Enter pupils registration numbers, separated by commas.' %} <br>
        {% trans 'Example' %}: &nbsp;
        <code>432, 345, 165, 675, 1276, 1021</code>
      </small>
    </div>
    {% if unknown %}
      <div class="alert alert-danger">
        <h5 class="border-bottom font-title">{% trans 'Unknown records' %}!</h5>
        {% for item in unknown %}
          {{ item }},
        {% endfor %}
        <div class="d-flex flex-row-reverse">
          <a class="btn btn-danger mt-2"
            href="{% url 'event_detail' object.pk %}">
            <i class="fa-solid fa-xmark"></i> 
            {% trans 'Ignore' %}
          </a>
        </div>
      </div>
    {% endif %}
  </div>
</article>

{% endblock %}