{% load i18n %}

<div class="form-row align-items-center">
  <div class="col-sm-3 mb-2">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">{% trans 'from' %}</div>
      </div>
      <input type="date" 
            name="dt1" 
            id="dt1"
            class="form-control dateinput" 
            value="{{ request.session.search.dt1 }}">
    </div>
  </div>
  <div class="col-sm-3 mb-2">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">{% trans 'to' %}</div>
      </div>
      <input type="date" 
             name="dt2" 
             id="dt2"
             class="form-control dateinput" 
             value="{{ request.session.search.dt2 }}">
    </div>
  </div>
  <div class="col-sm-2 mb-2">
    <select class="form-control" name="lc_type">
      <option value="all"
              {% if request.session.search.lc_type == 'all' %}selected{% endif %}>
              {% trans 'types' %}
      </option>
      {% for key, value in type_list %}
      <option value="{{ key }}"
              {% if key == request.session.search.lc_type %}selected{% endif %}>
        {{ value }}
      </option>
      {% endfor %}
    </select>
  </div>
  <div class="col-sm mb-2">
    {% include 'base/elements/checkbox_all.html' %}
    <button class="btn btn-success" type="submit">
      <i class="fas fa-search"></i>
      {% trans 'Search' %}
    </button> 
  </div>
</div>

