{% load i18n %}

<div class="form-row align-items-center">
  <div class="col-sm-2 mb-2">
    <div class="input-group">
      <input 
        name="ps_term"
        class="form-control"
        id="ps_term"
        placeholder="{% trans 'person' %}"
        {% if request.session.search.ps_term %}value={{ request.session.search.ps_term }}{% endif %}
      >
      <div class="input-group-append">
        <div class="input-group-text">
          <a href="?ps_term=+" class="text-secondary">
            <i class="fas fa-backspace" data-toggle="tooltip" data-placement="top" title="{% trans "Clean" %}"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2 mb-2">
    <select class="form-control" name="ps_aspect">
      <option value="all" {% if request.session.search.ps_aspect == 'all' %}selected{% endif %}>{% trans 'aspect' %}</option>
      {% for asp in aspect_list %}
        <option value="{{ asp.0 }}" {% if asp.0 == request.session.search.ps_aspect %}selected{% endif %}>{{ asp.1 }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-sm-2 mb-2">
    <select class="form-control" name="ps_status">
      <option value="all" {% if request.session.search.ps_status == 'all' %}selected{% endif %}>{% trans 'status' %}</option>
      {% for stt in status_list %}
        <option value="{{ stt.0 }}" {% if stt.0 == request.session.search.ps_status %}selected{% endif %}>{{ stt.1 }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="col-sm mb-2">
    {% include 'base/elements/checkbox_all.html' %}
    <button class="btn btn-success" type="submit">
      <i class="fas fa-search"></i>
      {% trans 'Search' %}
    </button> 
  </div>
</div>
