{% load i18n %}

<div class="form-row align-items-center">
  <div class="col-sm-2 mb-2">
    <div class="input-group">
      <input 
        name="pw_name"
        class="dateinput form-control"
        id="pw_name"
        placeholder="group name"
        {% if request.session.search.pw_name %}value={{ request.session.search.pw_name }}{% endif %}
      >
      <div class="input-group-append">
        <div class="input-group-text">
          <a href="?pw_name=+" class="text-secondary">
            <i class="fas fa-backspace"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2 mb-2">
    <select class="form-control" name="center">
      {% for cnt in centers %}
      <option value="{{ cnt.0 }}"
              {% if not request.session.search.center %}
                {% if cnt.0 == user_center %}selected{% endif %}
              {% else %}
                {% if cnt.0 == request.session.search.center %}selected{% endif %}
              {% endif %}>
        {{ cnt.1 }}
      </option>
      {% endfor %}
    </select>
  </div>
  <div class="col-sm mb-2">
    {% include 'base/elements/checkbox_all.html' %}
    <button class="btn btn-success" type="submit">
      <i class="fas fa-search"></i>
      {% trans 'Search' %}
    </button> 
  </div>
</div>
