{% extends "base/base.html" %}
{% load static %}

{% block content %}

{% include "center/navbar.html" %}

  <article class="media content-section">
    <div class="media-body">
      {% include "center/elements/header.html" %}
      <br>
      <div class="row">
        <div id="tabImage" class="col-md-3 text-center">
          {% include 'center/elements/tab_image.html' %}
        </div>
        <div class="col-md-9">
          {% include "center/elements/tabs.html" %}
        </div>
      </div>
    </div>
  </article>

  {% include "base/elements/modal_form.html" %}

{% endblock content %}

{% block scripts %}
  <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();   
    });

    function manageData(url) {
      htmx.ajax('GET', url, '#formBody')
    }
  </script>

  <script src="{% static 'js/modal_form.js' %}" defer></script>

{% endblock scripts %}