{% extends "base/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

  {% include "center/navbar.html" %}

  <article class="media content-section mb-1">
    <div class="media-body">
      <form 
        class="form-control-sm mt-1" 
        hx-get="{% url 'center_list' %}"
        hx-target="#list"
        hx-trigger="submit"
      >
        {% include "base/searchs/center.html" %}
      </form>
      <br>
      {% include "base/elements/results.html" %}
      <div 
        id="list" 
        hx-get="{% url 'center_list' %}" 
        hx-trigger="load, refreshList from:body"
      >
        {% trans 'Loading...' %}
      </div>
    </div>
  </article>

  {% include "base/elements/modal_form.html" %}

{% endblock content %}

{% block scripts %}
  <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();   
    });
    
    function redirect(url) {
      htmx.ajax('GET', url, '#content')
    }

    function manageData(url) {
      htmx.ajax('GET', url, '#formBody')
    }
  </script>

  <script src="{% static 'js/modal_form.js' %}" defer></script>

{% endblock scripts %}