{% load my_tags %}
{% load i18n %}
<header id="submenu" class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
  <a class="navbar-brand mr-0 mr-md-2" href="#" aria-label="Bootstrap">
    {% if nav == 'home' %}{% trans 'Centers' %}{% else %}{% trans 'Center' %}{% endif %}
  </a>

  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
    </ul>
  </div>

  <!-- actions -->
  <ul class="navbar-nav ml-md-auto">
    {% if nav == "home" and request.user.is_superuser %}
      <li class="nav-item">
        <a 
          href="#"
          class="nav-link pl-2 pr-1 mx-1 py-3 my-n2 text-primary" 
          onclick="manageData('{% url 'center_create' %}')"
        >
          <i class="fas fa-plus"></i>
          {% trans 'Center' %}  
        </a>
      </li>
    {% endif %}

    {% if nav == "detail" %}
      {% if request.user.is_superuser %}
        {% if object.is_active %}
          <li class="nav-item">
            <a 
              href="#"
              class="nav-link pl-2 pr-1 mx-1 py-3 my-n2 text-danger" 
              onclick="manageData('{% url 'center_delete' object.id %}')"
            >
              <i class="fas fa-trash-alt"></i>
              {% trans 'Delete' %}  
            </a>
          </li>
        {% else %}
          <li class="nav-item">
            <a 
              href="#"
              class="nav-link pl-2 pr-1 mx-1 py-3 my-n2 text-success" 
              onclick="manageData('{% url 'center_reinsert' object.id %}')"
            >
              <i class="fas fa-sign-in-alt"></i>
              {% trans 'Reinsert' %}  
            </a>
          </li>
        {% endif %}
      {% endif %}
    {% endif %}

    <li class="nav-item">
      <a class="nav-link px-1 mx-1 py-3 my-n2 text-info" 
          href="{% if nav == 'detail' %}
                  {{ goback }}
                {% else %}
                  {% url 'home' %}
                {% endif %}">
        <i class="fas fa-chevron-left"></i> 
        {% trans 'Back' %}
      </a>
    </li>
    
  </ul>

</header>