{% extends "base/base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}

  <div class="text-right mb-2 mt-4">
    <a class="btn btn-light text-info mt-2 mr-3"
      href="{% url 'workgroup_detail' object.pk %}">
      <i class="fas fa-chevron-left"></i> 
      {% trans 'Back' %}
    </a>
  </div>

  <article class="media content-section">
    <div class="media-body">
      <h4>{% trans 'Insert Membership' %}</h4>
      <form class="form-control-sm border-top" method="GET">
        {% include "base/searchs/person.html" %}
      </form>
      <br>

      {% include "base/elements/search_result.html" %}
      {% include 'workgroup/elements/person_list.html' %}

    </div>
  </article>
  <br>

{% include "base/elements/modal_form.html" %}

{% endblock content %}

{% block scripts %}
  <script>
    function manageData(url) {
      htmx.ajax('GET', url, '#formBody')
    }
  </script>

  <script src="{% static 'js/modal_form.js' %}" defer></script>

{% endblock scripts %}