{% load my_tags %}
{% load i18n %}

<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar" id="submenu">
  <a class="navbar-brand mr-0 mr-md-2" 
     href="#" aria-label="Bootstrap">
    {% if nav == 'home' %}{% trans 'Workgroups' %}{% else %}{% trans 'Workgroup' %}{% endif %}
  </a>

  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
    </ul>
  </div>

  <!-- actions -->
  <ul class="navbar-nav ml-md-auto">
    {% if nav == "home" and not request.user|has_group:"presidium" %}
      <li class="nav-item">
        <a 
          href="#"
          class="nav-link pl-2 pr-1 mx-1 py-3 my-n2 text-primary" 
          onclick="manageData('{% url 'workgroup_create' %}')"
        >
          <i class="fas fa-plus"></i> 
          {% trans 'Workgroup' %}
        </a>
      </li>
    {% endif %}

    {% if nav == "detail" and not request.user|has_group:"presidium" %}
      <li class="nav-item">
        <a class="nav-link pl-2 pr-1 mx-1 py-3 my-n2 text-primary" 
          href="{% url 'membership_insert' object.id %}?init=on">
          <i class="fas fa-plus"></i> 
          {% trans 'Member' %}
        </a>
      </li>
      <li class="nav-item">
        <a 
          href="#"
          class="nav-link pl-2 pr-1 mx-1 py-3 my-n2 text-warning" 
          onclick="manageData('{% url 'workgroup_update' object.id %}')"
        >
          <i class="fas fa-edit"></i> 
          {% trans 'Edit' %}
        </a>
      </li>
      <li class="nav-item">
        <a 
          href="#"
          class="nav-link pl-2 pr-1 mx-1 py-3 my-n2 text-danger" 
          onclick="manageData('{% url 'workgroup_delete' object.id %}')"
        >
          <i class="fas fa-trash-alt"></i> 
          {% trans 'Del' %}
        </a>
      </li>
    {% endif %}

    <li class="nav-item">
      <a class="nav-link pl-2 px-1 mx-1 py-3 my-n2 text-info" 
         href="{% if nav == 'home' %}
                 {% url 'home' %}
               {% elif nav == 'detail' %}
                 {% url 'workgroup_home' %}
               {% endif %}">
        <i class="fas fa-chevron-left"></i> 
        {% trans 'Back' %}GGG
      </a>
    </li>
    
  </ul>

</header>