{% load i18n %}

<div id="div_id_pupil" class="form-group">

  <label for="id_pupil" class=" requiredField">
    {% trans 'Pupil name' %}<span class="asteriskField">*</span>
  </label>

  <div id="selectedNameGroup" class="form-control selected-name-group d-none" >
    <div id="personName" class="search-name">
      {% if request.session.transfer %}{{ request.session.transfer }}{% endif %} 
    </div>
    <button class="search-button" id="toChange">
      <i class="fa-solid fa-search"></i>
    </button>
  </div>

  <div id="searchNameGroup" class="search-name-group" >
    <input 
      id="term"
      name="term"
      type="search"
      class="form-control"
      placeholder="Search person..."
      hx-get="{% url 'search_pupil_by_name' %}"
      hx-target="#personNames"
      hx-trigger="keyup changed delay:500ms"
    />
    <div class="float-right" style="position: absolute; z-index: 10; left: -1px;">
      <div class="col-sm-12" id="personNames"></div>
    </div>
  </div>

</div>