{% extends "base/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

{% include "event/navbar.html" %}

<article class="media content-section">
  <div class="media-body">
    <div id="eventHeader">
      {% include 'event/header.html' %}
    </div>
    <br>
    <div class="tab-pane fade show active" id="pills-frequencies">
      {% include 'event/frequencies.html' %}
    </div>
  </div>
</article>

{% include "base/elements/modal_form.html" %}

{% endblock content %}

{% block scripts %}
  <script>
    function manageData(url) {
      htmx.ajax('GET', url, '#formBody')
    }
  </script>

  <script src="{% static 'js/modal_form.js' %}" defer></script>

{% endblock scripts %}