{% for obj in object_list %}
  {% if forloop.last and forloop.counter == LIMIT %}
    <div 
      class="row border-top border-secondary pb-2 pt-2"
      hx-get="{% url 'mentoring_group_frequencies' object.pk %}?page={{ page|add:1 }}" 
      hx-trigger="revealed" 
      hx-swap="afterend"
      hx-target="this"
    >
  {% else %}
    <div class="row border-top border-secondary pb-2 pt-2">
  {% endif %}

  {% include "workgroup/mentoring/elements/frequency_list_item.html" %}

  </div>
{% endfor %}