{% load i18n %}
<div class="col-sm-6">
  <small class="text-muted align-top">{{ forloop.counter|add:counter }}</small>
  &nbsp;&nbsp;
  <strong>{{ obj.person.name }}</strong>
</div>

<div class="col-sm-2 small align-middle">
  <strong>{{ obj.person.get_aspect_display }}</strong>
</div>

<div class="col-sm-2 small align-middle">
  since {{ obj.person.aspect_date|date:'d/m/y' }}
</div>

<div class="col-sm-2 text-right">
  {% if obj.freq %}
    &nbsp;&nbsp;
    <strong>{{ obj.freq }}</strong> 
    <i class="fas fa-calendar-check ml-1"></i>
  {% endif %}
</div>