{% extends "base/base.html" %}
{% load base_extras %}
{% load i18n %}
{% load static %}

{% block content %}

{% include 'presidium/elements/navbar.html' %}

<div class="row">
  <div class="col-lg-8 mb-4">
    <article class="media align-items-stretch flex-column content-section mb-1">
      <div class="d-flex justify-content-between">
        <h4 class="mb-3">
          {% trans 'Our Pupils by' %} <span id="type">{% trans 'Centers' %}</span>
        </h4>
        <div class="pt-2">
          <a 
            id="byCenters"
            class='mr-4'
            href="#"
            hx-get="{% url 'presidium:pupils_by_center' %}"
            hx-target="#summary"
          >
            {% trans 'by centers' %}
          </a>
          <a 
            id="byAspects"
            href="#" 
            hx-get="{% url 'presidium:pupils_by_aspect' %}"
            hx-target="#summary"
          >
            {% trans 'by aspects' %}
          </a>
        </div>
      </div>
      <div 
        id="summary"
        hx-get="{% url 'presidium:pupils_by_center' %}" 
        hx-trigger="load" 
        hx-target="this"
      >
        {% trans 'Loading...' %}
      </div>
    </article>
  </div>
  <div class="col-lg-4 mb-4">
    <div class="card-treasury-new bg-light mb-3">
      <div class="card-header-treasury-new">{% trans 'Reports' %}</div>
      <ul class="list-group list-group-flush">
        <a type="button" 
          class="list-group-item-treasury-new list-group-item-action text-info" 
          href="{% url 'presidium:installed_per_period' %}">
          <i class="fas fa-eye"></i> 
          {% trans 'Installed per period' %}
        </a>
        <a type="button" 
          class="list-group-item-treasury-new list-group-item-action text-info" 
          href="{% url 'presidium:occurrences_per_period' %}">
          <i class="fas fa-eye"></i> 
          {% trans 'Occurrences per period' %}
        </a>
      </ul>
    </div>
  </div>
</div>

{% include "base/elements/modal_form.html" %}

{% endblock content %}

{% block scripts %}
  <script>
    function manageData(url) {
      htmx.ajax('GET', url, '#formBody')
    }

    const byCenters = document.getElementById('byCenters');
    const byAspects = document.getElementById('byAspects');
    const type = document.getElementById('type');

    byCenters.addEventListener('click', () => { 
      type.innerHTML = "{% trans 'Centers' %}" 
    });
    byAspects.addEventListener('click', () => { 
      type.innerHTML = "{% trans 'Aspects' %}" 
    });
  </script>

  <script src="{% static 'js/modal_form.js' %}" defer></script>
{% endblock scripts %}