{% load i18n %}

<div id="header" hx-swap-oob="true">
  <div class="article-metadata">
    <div class="row">
      <div class="col-9">
        {{ object.person.center }}
          
        {% if object.person.aspect != "--" %}
          &nbsp;&nbsp;&nbsp;&nbsp;
          {{ object.person.get_aspect_display }} 
          <small class="text-secondary">
            &nbsp;&nbsp;{% trans 'in' %}&nbsp;&nbsp;
            {{ object.person.aspect_date|date:"d/m/Y" }}
          </small>
        {% endif %}
        {% if object.person.center != request.user.person.center %}
          &nbsp;&nbsp;&nbsp;&nbsp;
          <span class="badge badge-pill badge-danger">{% trans 'another center - only view' %}</span>
        {% endif %}
      </div>
      <div class="col text-right">
        {% if object.person.status not in "ACT,---" %}
          {% include "user/profile/status.html" %}
        {% endif %}
      </div>
    </div>
  </div>

  <h3>
    {{ object.person.name }} &nbsp;&nbsp;
    <small class="text-muted"><em>{{ object.profile.social_name }}</em></small>
  </h3>
    
</div>