{% load i18n %}
<div class="article-metadata">
  <div class="row">
    <div class="col-9">
      {{ object.center }}
      {% if object.center != request.user.person.center %}
      &nbsp;&nbsp;&nbsp;
      <span class="badge badge-pill badge-danger">{% trans 'another center - only view' %}</span>
      {% endif %}
    </div>
    <div class="col-3 text-right">
      {% if object.status %}
      <strong>{{ object.get_status_display }}</strong>
      {% endif %}
      {% if not object.is_active %}
      <span class="badge badge-pill badge-danger">{% trans 'inactive' %}</span>
      {% endif %}
    </div>
  </div>
</div>

<h3>
  {{ object.name }} &nbsp;&nbsp;
  <small class="text-muted">
    <em>{{ object.city }} - {{ object.state }} ({{ object.country }})</em>
  </small>
</h3>