{% load base_extras %}
{% load i18n %}

{% if table_title %}
  <h4>{{ table_title }}</h4>
{% else %}
  {% include "base/elements/search_result.html" %}
{% endif %}

{% if object_list %}

  {% include "publicwork/seeker/elements/seeker_list.html" %}

{% else %}

  <div class="alert alert-secondary">
    <h4 class="alert-heading">
      {% if init %}
        {% trans 'choose your search terms' %}
      {% else %}
        {% trans 'seekers not found' %}
      {% endif %}
    </h4> 
  </div>  

{% endif %}