{% load my_tags %}
{% load i18n %}
<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar" id="submenu">
  <a class="navbar-brand mr-0 mr-md-2" 
    href="{% url 'treasury_home' %}">
    {% trans 'Presidium' %}
  </a>

  <!-- menu items -->
  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      {% include 'presidium/elements/reports_menu.html' %} 
    </ul>
  </div>

  <!-- actions -->
  <ul class="navbar-nav ml-md-auto">
    {% if not request.user|has_group:"presidium" %}
      {% if nav == "order" %}
        <li class="nav-item">
          <a class="nav-link pl-2 pr-1 mx-1 py-3 my-n2 text-primary" 
            href="{% url 'order_create' %}">
            <i class="fas fa-plus"></i> 
            {% trans 'New order' %}
          </a>
        </li>
      {% endif %}

      {% if nav == "reports" %}
        {% if object %}
          <li class="nav-item">
            <a class="nav-link pl-2 pr-1 mx-1 py-3 my-n2 text-primary" 
              href="{% url 'order_create' %}">
              <i class="fas fa-plus"></i> 
              {% trans 'New order' %}
            </a>
          </li>
        {% endif %}
      {% endif %}
    {% endif %}
    
    <li class="nav-item">
      <a class="nav-link px-1 mx-1 py-3 my-n2 text-info" 
          href="{% url 'home' %}">
        <i class="fas fa-chevron-left"></i> 
        {% trans 'Back' %}
      </a>
    </li>

  </ul>


</header>