{% load i18n %}

<nav class="navbar navbar-expand-lg navbar-light bg-transp mb-1">
  <a class="navbar-brand" href="#">{% trans 'Profile' %}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarProfile"
    aria-controls="navbarProfile" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarProfile">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link {% if tab == 'detail' %}active{% endif %}" href="{% url 'profile_detail' %}">{% trans 'Info' %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if tab == 'frequencies' %}active{% endif %}" href="{% url 'user_frequencies' %}">{% trans 'Frequencies' %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if tab == 'historic' %}active{% endif %}" href="{% url 'user_historic' %}">{% trans 'Historic' %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if tab == 'payments' %}active{% endif %}" href="{% url 'user_payments' %}">{% trans 'Payments' %}</a>
      </li>
    </ul>
    <div class="navbar-nav"></div>
  </div>
</nav>
