{% load i18n %}

<h4>{% trans 'Latest payments' %}</h4>

{% if payments %}

  {% for pay in payments %}
    {% include "user/profile/payment.html" %}
  {% endfor %}

  {% if payments|length < count %}
    <div class="alert alert-secondary mt-4">
      <small>
        <p>
          {% trans 'Here showing your last' %} <strong>{{ payments|length }}</strong> {% trans 'payments' %}. &nbsp;
          {% trans 'To find out more, contact the' %} <strong>{{ object.person.center.name }}</strong> {% trans 'secretariat' %}.
        </p>
      </small>
    </div>
  {% endif %}

{% else %}

  <div class="alert alert-secondary" role="alert">
    <h4 class="alert-heading">{% trans 'payments not found' %}</h4>
  </div>

{% endif %}

