{% load my_tags %}
{% for obj in object_list %}
  {% if forloop.last and forloop.counter == LIMIT %}
    <div 
      class="row border-top border-secondary pb-2 pt-2 is-link {% if not obj.is_active %}
                                                         text-danger
                                                       {% elif obj.center != request.user.person.center %}
                                                         text-warning
                                                       {% endif %}"
      {% if obj.person.center == request.user.person.center or request.user.is_superuser or request.user|has_group:"presidium" %}
        {% if obj.click_link %}
          onclick="location.href='{{ obj.click_link }}';"
        {% endif %}
      {% endif %}
      hx-get="{% url 'workgroup_home' %}?page={{ page|add:1 }}" 
      hx-trigger="revealed" 
      hx-swap="afterend"
      hx-target="this"
    >
  {% else %}
    <div 
      class="row border-top border-secondary pb-2 pt-2 is-link {% if not obj.is_active %}
                                                         text-danger
                                                       {% elif obj.center != request.user.person.center %}
                                                         text-warning
                                                       {% endif %}"
      {% if obj.person.center == request.user.person.center or request.user.is_superuser or request.user|has_group:"presidium" %}
        {% if obj.click_link %}
          onclick="location.href='{{ obj.click_link }}';"
        {% endif %}
      {% endif %}
    >
  {% endif %}

    {% include "workgroup/elements/workgroup_list_item.html" %}

  </div>
{% endfor %}