{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

<form 
  method="POST" 
  action="{{ callback }}" 
  enctype="multipart/form-data"
>
  {% csrf_token %}

  <div class="modal-header {% if update %}bg-warning{% else %}bg-primary{% endif %}">
    <h4 class="modal-title {% if update %}text-dark{% else %}text-light{% endif %}">
      {{ title }}
    </h4>
    <button 
      type="button" 
      class="close {% if update %}text-dark{% else %}text-light{% endif %}" 
      data-dismiss="modal" 
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-md-7">
        {{ form.name | as_crispy_field }}
      </div>
      <div class="col-md-5">
        {{ form.center | as_crispy_field }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        {{ form.birth | as_crispy_field }}
      </div>
      <div class="col-md-6">
        {{ form.gender | as_crispy_field }}
      </div>
    </div> 

    <div class="row">
      <div class="col-md-7">
        {{ form.email | as_crispy_field }}
      </div>
      <div class="col-md-5">
        {{ form.phone | as_crispy_field }}
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        {{ form.city | as_crispy_field }}
      </div>
      <div class="col-md-2">
        {{ form.state | as_crispy_field }}
      </div>
      <div class="col-md-4">
        {{ form.country | as_crispy_field }}
      </div>
    </div> 

    {{ form.image | as_crispy_field }}
    {{ form.observations | as_crispy_field }}
  
    {{ form.status | as_crispy_field }}
    {{ form.status_date | as_crispy_field }}
    {{ form.is_active | as_crispy_field }}
    {{ form.made_by | as_crispy_field }}
  </div>

  <div class="modal-footer">
    <div class="text-right">
      <button 
        type="button" 
        class="btn btn-secondary" 
        data-dismiss="modal" 
        aria-label="Close"
      >
        <i class="fas fa-xmark"></i>
        {% trans 'Cancel' %}
      </button>
      <button 
        type="submit"
        class="btn {% if update %}btn-warning{% else %}btn-primary{% endif %}"
      >
        <i class="fas fa-check"></i>
        {% trans 'Confirm' %}
      </button>
    </div>
  </div>
</form>