{% for obj in object_list %}
  {% if forloop.last and forloop.counter == LIMIT %}
    <div 
      class="row border-top border-secondary pb-2 pt-2 {% if obj.status == 'ITD' %}
                                                         text-info
                                                       {% elif obj.status == 'STD' %}
                                                         text-success
                                                       {% elif not obj.is_active %}
                                                         text-danger
                                                       {% elif obj.center != request.user.person.center %}
                                                         text-secondary
                                                       {% endif %}"
      hx-get="{% url 'group_detail' object.pk %}?page={{ page|add:1 }}" 
      hx-trigger="revealed" 
      hx-swap="afterend"
      hx-target="this"
    >
  {% else %}
    <div 
      class="row border-top border-secondary pb-2 pt-2 {% if obj.status == 'ITD' %}
                                                         text-info
                                                       {% elif obj.status == 'STD' %}
                                                         text-success
                                                       {% elif not obj.is_active %}
                                                         text-danger
                                                       {% elif obj.center != request.user.person.center %}
                                                         text-secondary
                                                       {% endif %}"
    >
  {% endif %}

    {% include "publicwork/seeker/elements/seeker_list_item.html" %}
    
  </div>
{% endfor %}