{% load i18n %}
<div class="row border-top border-secondary pt-3">
  <div id="tabImage" class="col-md-3 text-center">
    {% include 'person/elements/tab_image.html' %}
  </div>
  <div class="col-md-9">
        
    <ul class="nav nav-pills" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#tabProfile" role="tab" aria-controls="profile"
          aria-selected="true">
          {% trans 'Profile' %}
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="pupil-tab" data-toggle="tab" href="#tabPupil" role="tab" aria-controls="pupil"
          aria-selected="true">
          {% trans 'Pupil' %}
        </a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="tabProfile" role="tabpanel" aria-labelledby="profile-tab">
        {% include 'person/elements/tab_profile.html' %}
      </div>
      <div class="tab-pane fade show" id="tabPupil" role="tabpanel" aria-labelledby="pupil-tab">
        {% include 'person/elements/tab_pupil.html' %}
      </div>
    </div>

  </div>

</div>